# Rime 自动生成文件
installation.yaml
user.yaml
*.bin
*.reverse.bin
*.prism.bin
*.table.bin
tmp/
*.tmp
*.bak
LOG
*/LOG
*/LOG.old
build/*
sync/*

# 用户数据库目录
*.userdb/
*.userdb.txt
*.userdb.kct
*.userdb.kct.sig

# 开发工具
.aider*

# 配置工具 SCT
.sct/
